<div ng-controller="quizController">
    <ol class="breadcrumb">
        <li><a ng-href=".">Home</a></li>
        <li class="active">{{quizTitle}}</li>
    </ol>
    <div class="panel panel-primary" ng-hide="quizFinished">
        <div class="panel-heading">
            <!--Question -->
            <p class="panel-title">{{currentQuestion.title}}</p>
        </div>
        <!-- Available options -->
        <div id="answers-div" class="panel-body">
            <div ng-repeat="answer in currentQuestion.answers" ng-class="{'quiz-selected-answer':$index==userAnswer}" class="panel panel-default">
                <div  class="panel-body" ng-click="selectAnswer($index)">
                    <h4>{{answer}}</h4>
                </div>
            </div>

            <div class="col-xs-6">
                <button type="button" class="btn btn-default btn-lg quiz-option-button" ng-click="previousQuestion()" ng-disabled="disabledBackButton">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    BACK
                </button>
            </div>
            <div class="col-xs-6 text-right">
                <button id="nextButton" type="button" class="btn btn-default btn-lg quiz-option-button" ng-click="nextQuestion()" ng-disabled="disabledNextButton"> 
                    NEXT
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="text-center" data-ng-show="quizFinished">
        <h1>{{quizTitle}}</h1>
        <h2 style="color: {{finalScoreCss}}">Score - {{finalScore+"/10"}}</h2>
    
        </br></br>
        <img ng-src="{{finalScoreImage}}" class="img-rounded"/>
        </br></br>

        <h3>{{finalScoreMessage}}</h3>
        
        </br>
        <a ng-href="." class="btn btn-default btn-lg">Return to the main page</a>
    </div>
</div>